@import '../../assets/css/styles.scss';

.card {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 0 15%;
    background-color: $background-white;
    border-radius: 4px 4px 0 0;
    margin-bottom: 30px
}

.item_image {
    grid-column: 1;
    grid-row: 1;
    max-width: 680px;
    text-align: center;
    margin-left: 32px;
    margin-top: 32px;
}
  
.info {
    grid-column: 2;
    grid-row: 1;
    margin-right: 32px;
}

.description {
    grid-column: 1 / 3;
    grid-row: 2;
    max-width: 680px;
    margin-top: 40px;
    margin-left: 32px;
}

.condition {
    font-size: 14px;
    margin-top: 36px;
    margin-bottom: 16px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
}

.price {
    font-size: 46px;
    font-weight: 600;
    margin-bottom: 32px;
}

.button {
    background-color: $background-blue;
    color: $background-white;
    border: 0px;
    width: 100%;
    height: 33px;
    border-radius: 5px;
}

.title_description {
    font-size: 28px;
}

.text_description {
    font-size: 16px;
    margin-right: 32px;
    margin-bottom: 32px;
    text-align: initial;
    max-width: 680px;
}
